.main {
  padding: 1em;
}

.story_title {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.5em;
}

.story_title a {
  color: #333;
  text-decoration: none;
}

.story_title a:hover {
  text-decoration: underline;
}

.story_details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.story_details strong {
  margin-right: 1em;
}

.story_details a {
  color: #f60;
}
